section.reset-container{
    display: flex;
    position: relative;
    margin-top: 10%;
}

section.reset-container > div{
    margin: auto;
    width: 450px;
    background: #eee;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

section.reset-container form{
    display: flex;
    flex-direction: column;
}

section.reset-container{
    color: rgb(95, 95, 95);
}

form input[type="email"]:focus,
form input[type="email"]:hover{
    background-color: #ccc;
}

form input[type="email"]{
    margin-bottom: 32px;
    padding: 16px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: 0;
    transition: 0.5s;
}

form button[type="reset"],
form button[type="submit"]{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: 0;
    transition: 0.5s;
}

form button[type="reset"],
form button[type="submit"] {
    font-weight: bold;
    color: #eee;
    text-transform: uppercase;
    background-color: #7eb3dd;
    cursor: pointer;
}

form button[type="reset"]:hover,
form button[type="reset"]:focus,
form button[type="submit"]:focus,
form button[type="submit"]:hover {
    background-color:  rgba(21, 131, 107, 0.671);
}


